<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
        <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}" > </script>
        <script>
            $.ajax({
                url: "/devicehub",
                method: "POST",
                data: JSON.stringify(snapshot),
                dataType: 'json',
                contentType: "application/json"
            });
        </script>
        <title> eReuse.org Support & Info </title>
    {% endblock %}
</head>
<body>
    {% block title %}
        <h1 id="title"> eReuse.org Support & Info </h1>
    {% endblock %}
    {% block navbar %}
            <!--Nav bar -->
        <div class="nav">
            <button id="button-wb" action="/workbench"> Workbench </button>
        </div>
    {% endblock %}
    {% block content %} {% endblock %}
    {% block footer %}
        <p> Footer eReuse.org </p>
    {% endblock %}
</body>
</html>
